# Sample configuration file for Windows image builder
# Copy to "imgbuld.env" and customize for your environment

# Path to a directory for temporary files
WORK_DIR=/tmp

# Path where the final image should be created
OUTPUT_IMAGE=./SomeDir/SomeImage.raw

# Path to the Windows Server ISO
WINDOWS_ISO=./SomeDir/SomeWindowsServer.iso

# Path to the VirtIO driver ISO
VIRTIO_ISO=./SomeDir/SomeVirtio.iso

# Directory containing unattended setup files (e.g., Autounattend.xml)
# These are known working files, but can be edited for your environment
UNATTEND_DIR=./unattend

# Path to the OVMF UEFI firmware (e.g., OVMF_CODE_4M.fd)
# This is the default on Ubuntu Noble with qemu
OVMF_PATH=/usr/share/OVMF/OVMF_CODE_4M.fd
